body{
  background-color: #EAF6F6F;
}
h1{
  color: #1e836c;
}
h3{
  color: #1e836c;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
